body {
  position: relative;
  font-family: Montserrat, sans-serif;
  background-color: $secondary-text-color;
  background-image: url('../images/main-background/bg-body.png');
  background-repeat: no-repeat;
  background-size: cover;
  @media screen and (min-width: 768px) {
    background-image: url('../images/main-background/bg-body.png');
  }

  @media screen and (min-width: 1280px) {
    background-image: url('../images/main-background/bg-body.png');
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
}
