<div class="img-container">
  <div class="logo-background"></div>
  <a class="logo" href="./index.html">
    <img src="./images/svg/logo.svg" alt="site logo" />
  </a>

  <section class="wrapper-hero container">
    <h1 class="hero-title">
      <b
        >F<span>I</span>ND<span> BEST</span> <span>EV</span>EN<span>TS</span> <span>AR</span>OU<span
          >ND </span
        >THE <span>WO</span>R<span>LD</span></b
      >
    </h1>

    <!-- LIGHT THEME SWITCH -->
    <div class="theme-switch">
      <svg class="theme-switch__icon" aria-label="Moon icon">
        <use href="./images/svg/search.svg#moon"></use>
      </svg>

      <div class="theme-switch__control">
        <input
          class="theme-switch__toggle"
          type="checkbox"
          name="theme"
          id="theme-switch-toggle"
          aria-label="Theme switcher"
        />
        <label aria-hidden="true" class="theme-switch__track" for="theme-switch-toggle"> </label>
        <div aria-hidden="true" class="theme-switch__marker"></div>
      </div>
      <svg class="theme-switch__icon" role="img" aria-label="Sun icon">
        <use href="./images/svg/search.svg#sun"></use>
      </svg>
    </div>

    <!-- FORMS -->
    <div class="forms">
      <form class="search-form" name="signup_form">
        <label class="label-search-form">
          <input
            class="form-field symbol-close"
            type="search"
            name="search"
            placeholder="Start searching"
          />

          <svg class="search__svg">
            <use class="search__icon" href="./images/svg/search.svg#search-icon" opacity="1"></use>
          </svg>
          <svg class="search__svg">
            <use
              class="clear-search__icon"
              href="./images/svg/search.svg#clear-search"
              opacity="0"
            ></use>
          </svg>
        </label>
      </form>
      <div class="countries-dropdown__wrapper">
        <div id="dropdown" class="dropdown" data-dropdown>
          <span id="dropdown__title" class="dropdown__title" data-country-id="default">
            Choose country</span
          >
          <svg class="dropdown__svg">
            <use class="dropdown__icon" href="./images/svg/search.svg#country-search"></use>
          </svg>
        </div>
        <ul class="dropdown__list visually-hidden"></ul>
      </div>
    </div>
  </section>
</div>
