<div class="lightbox js-lightbox">
  <div class="lightbox__overlay"></div>
  <div class="lightbox__content">
    <button type="button" class="lightbox__button" data-action="close-lightbox"></button>
    <div class="svg-container">
      <img class="modal-svg" src="/images/modal/pic-circle-mobile.svg" alt="photo2" />
    </div>
    <div class="modal-section">
      <picture class="modal-img-section">
        <img class="modal-img" src="/images/modal/modal-photo-tablet.png" alt="photo" />
      </picture>
      <div class="modal-container-info">
        <div class="modal-container">
          <h3 class="modal-header">INFO</h3>
          <p class="modal-text-info">
            Atlas Weekend is the largest music festival in Ukraine. More than 200 artists will
            create a proper music festival atmosphere on 10 stages
          </p>
        </div>
        <div class="modal-container">
          <h3 class="modal-header">WHEN</h3>
          <p class="modal-text">2021-06-09</p>
          <p class="modal-text">20:00 (Kyiv/Ukraine)</p>
        </div>
        <div class="modal-container">
          <h3 class="modal-header">WHERE</h3>
          <p class="modal-text">Kyiv, Ukraine</p>
          <p class="modal-text">VDNH</p>
        </div>
        <div class="modal-container">
          <h3 class="modal-header">WHO</h3>
          <p class="modal-text">The Black Eyed Peas</p>
        </div>
        <div class="modal-container">
          <h3 class="modal-header">PRICE</h3>
          <p class="modal-text">Standart 300-500 UAH</p>
          <a href="/">
            <button type="button" class="modal-btn-buy">BUY TICKETS</button>
          </a>
          <p class="modal-text">VIP 1000-1500 UAH</p>
          <a href="/">
            <button type="button" class="modal-btn-buy">BUY TICKETS</button>
          </a>
        </div>
        <a href="/">
          <button type="button" class="modal-btn-more">MORE FROM THIS AUTHOR</button>
        </a>
      </div>
    </div>
  </div>
</div>
