<div class="container">
    
    <div class="popup" id="popup">
      <div class="popup-inner">
           <div class="popup__photo">
          <img src="https://st4.depositphotos.com/12985848/i/600/depositphotos_198498132-stock-photo-black-background-pink-mystical-smoke.jpg" alt=""> 
          <ul class="team-list">
            <li class="team-item">
            <span class="position-name Blazing">Team Lead</span>  <br>
            <a href="https://github.com/DenysPetrenk0" class="team-link" target='blank'>Денис Петренко</a> 
            </li>
            <li class="team-item">
               <span class="position-name Blazing">Scrum Master vs API</span> <br>
               <a href="https://github.com/DmytroGupanets" class=" team-link" target='blank'>Дмитрий Гупанец</a> 
                
            </li>
           
            <li class="team-item">
                <span class="position-name Blazing">API Masters</span> <br>
               
               <a href="https://github.com/anadej" class='team-link' target='blank'>Анатолий Дейнеко</a>  <br>
               <a href="https://github.com/absoul345" class='team-link'  target='blank'>Владислав Бочковский</a> 
               
            </li>
            <li class="team-item">
                <span class="position-name Blazing">Design Masters</span> <br>
                <a href="https://github.com/DenysPetrenk0" class='team-link'  target='blank'>Виктория Криницкая</a>    <br>
                <a href="https://github.com/Elizabethhub" class='team-link'  target='blank'>Елизавета Куделя</a>    <br>
                <a href="https://github.com/DenysPetrenk0" class='team-link'  target='blank'>Роман Кулиев</a> 
              
                <br>
                <br>
             </li>

           
        </ul>
        </div>
        <!-- <div class="popup__text">
          <h1>Lorem ipsum dolor sit amet</h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer ex velit, viverra non vulputate vitae, blandit vitae nisl. Nullam fermentum orci et erat viverra bibendum. Aliquam sed varius nibh, vitae mattis purus. Mauris elementum sapien non ullamcorper vulputate. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Sed eget felis sit amet eros viverra pulvinar.</p>
        </div>  -->

        
        <a class="popup__close" href="#">X</a> 
     </div>  
    </div>
  </div>