.wrapper-hero {
  display: block;

  padding-top: 78px;
  padding-bottom: 112px;
  text-align: center;

  padding-top: 78px;
  padding-bottom: 112px;
  text-align: center;

  @media screen and (min-width: $tablet) {
    padding-top: 40px;
    padding-bottom: 183px;
  }

  @media screen and (min-width: $desktop) {
    padding-bottom: 192px;
  }
}

.img-container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(180deg, rgba(13, 13, 13, 0) 0%, rgba(14, 14, 14, 0.8) 100%),
    linear-gradient(rgba(11, 11, 11, 0.5), rgba(11, 11, 11, 0.5)),
    url('../images/hero-images/hero-mobile.jpg');
  background-size: 100% 102px, cover, cover;
  background-position: 50% 100%, center, center;
  background-repeat: no-repeat;

  @media screen and (min-width: $tablet) {
    background-image: linear-gradient(180deg, rgba(13, 13, 13, 0) 0%, rgba(14, 14, 14, 0.8) 100%),
      linear-gradient(rgba(11, 11, 11, 0.5), rgba(11, 11, 11, 0.5)),
      url('../images/hero-images/hero-tablet.jpg');
  }
  @media screen and (min-width: $desktop) {
    background-image: linear-gradient(180deg, rgba(13, 13, 13, 0.19) 0%, rgba(14, 14, 14, 0.8) 100%),
      linear-gradient(rgba(11, 11, 11, 0.5), rgba(11, 11, 11, 0.5)),
      url('../images/hero-images/hero-descktop.jpg');
    max-width: none;
  }
}

.hero-title {
  display: inline-block;
  margin-bottom: 25px;
  width: 212px;
  // height: 44px;
  text-align: center;
  font-weight: 900;
  font-size: 18px;
  color: $accent-color;
  @media screen and (min-width: $tablet) {
    margin-bottom: 27px;
    width: 353px;
    // height: 74px;
    font-size: 30px;
  }
  @media screen and (min-width: $desktop) {
    margin-bottom: 52px;
    width: 588px;
    height: 122px;
    font-size: 45px;
  }
}
