.cards__list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -14px;
  margin-top: -42px;
  @media screen and (min-width: 768px) {
    margin-left: -28px;
    margin-top: -58px;
  }
  @media screen and (min-width: 1280px) {
    margin-left: -70px;
    margin-top: -63px;
  }
}

.card {
  display: block;
  // text-align: center;
  margin-left: 14px;
  margin-top: 42px;
  flex-basis: calc((100% - 28px) / 2);
  @media screen and (min-width: 768px) {
    margin-left: 28px;
    margin-top: 58px;
    flex-basis: calc((100% - 84px) / 3);
  }
  @media screen and (min-width: 1280px) {
    margin-left: 70px;
    margin-top: 63px;
    flex-basis: calc((100% - 280px) / 4);
  }
}
