.cards__list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -14px;
  margin-top: -42px;
  @media screen and (min-width: 768px) {
    margin-left: -28px;
    margin-top: -58px;
  }
  @media screen and (min-width: 1280px) {
    margin-left: -70px;
    margin-top: -63px;
  }
}

.card {
  display: block;
  // text-align: center;
  margin-left: 14px;
  margin-top: 42px;
  flex-basis: calc((100% - 28px) / 2);
  @media screen and (min-width: 768px) {
    margin-left: 28px;
    margin-top: 58px;
    flex-basis: calc((100% - 84px) / 3);
  }
  @media screen and (min-width: 1280px) {
    margin-left: 70px;
    margin-top: 63px;
    flex-basis: calc((100% - 280px) / 4);
  }

  &__title {
    font-weight: 700;
    font-size: 16px;
    text-align: center;
    color: #dc56c5;
  }

  &__date {
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    color: #ffffff;
  }

  &__location {
    font-weight: 600;
    font-size: 14px;
    color: #ffffff;
  }

  &__location-icon {
    fill: #ffffff;
  }
}
img {
  max-width: 100%;
  height: auto;
  display: inline-block;
}
