.background.dark-theme {
  background-color: #161616;
  background-image: url('../images/main-background/bg-body-mobile.jpg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  text-align: center;

  @media (min-device-pixel-ratio: 2) and (max-width: 767px),
    (min-resolution: 192dpi) and (max-width: 767px),
    (min-resolution: 2dppx) and (max-width: 767px) {
    background-image: url('../images/main-background/bg-body-mobile2x.jpg');
  }

  @media screen and (min-width: 768px) {
    background-image: url('../images/main-background/bg-body-tablet.jpg');
  }

  @media (min-device-pixel-ratio: 2) and (min-width: 768px),
    (min-resolution: 192dpi) and (min-width: 768px),
    (min-resolution: 2dppx) and (min-width: 768px) {
    background-image: url('../images/main-background/bg-body-tablet2x.jpg');
  }

  @media screen and (min-width: 1280px) {
    background-image: url('../images/main-background/bg-body.jpg');
  }

  @media (min-device-pixel-ratio: 2) and (min-width: 1280px),
    (min-resolution: 192dpi) and (min-width: 1280px),
    (min-resolution: 2dppx) and (min-width: 1280px) {
    background-image: url('../images/main-background/bg-body2x.jpg');
  }
}

.background.light-theme {
  color: $secondary-text-color;
  background-color: #e2e2e2;
  background-image: url('../images/main-background-light/bg-body-mobile-light.jpg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  text-align: center;

  @media (min-device-pixel-ratio: 2) and (max-width: 767px),
    (min-resolution: 192dpi) and (max-width: 767px),
    (min-resolution: 2dppx) and (max-width: 767px) {
    background-image: url('../images/main-background-light/bg-body-mobile-light2x.jpg');
  }

  @media screen and (min-width: 768px) {
    background-image: url('../images/main-background-light/bg-body-tablet-light.jpg');
  }

  @media (min-device-pixel-ratio: 2) and (min-width: 768px),
    (min-resolution: 192dpi) and (min-width: 768px),
    (min-resolution: 2dppx) and (min-width: 768px) {
    background-image: url('../images/main-background-light/bg-body-tablet-light2x.jpg');
  }

  @media screen and (min-width: 1280px) {
    background-image: url('../images/main-background-light/bg-body-light.jpg');
  }

  @media (min-device-pixel-ratio: 2) and (min-width: 1280px),
    (min-resolution: 192dpi) and (min-width: 1280px),
    (min-resolution: 2dppx) and (min-width: 1280px) {
    background-image: url('../images/main-background-light/bg-body-light2x.jpg');
  }
}
