.background {
  height: 500px;
  background-color: $secondary-text-color;
  background-image: url('../images/main-background/bg-body.png');
  background-repeat: no-repeat;
  background-size: cover;
  @media screen and (min-width: 768px) {
    background-image: url('../images/main-background/bg-body.png');
  }

  @media screen and (min-width: 1280px) {
    background-image: url('../images/main-background/bg-body.png');
  }
}
