/* Lightbox */
.lightbox {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  pointer-events: none;
  transition: opacity var(--animation-duration) var(--timing-function);
  z-index: 5;

  overflow-y: scroll;
}

.lightbox.is-open {
  opacity: 1;
  pointer-events: initial;
}

.lightbox__overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(32, 13, 29, 0.6);
  backdrop-filter: blur(3px);
  transition: all 0.5s linear;
  z-index: 4;
}

.no-scroll {
  overflow: hidden;
}

.lightbox__content {
  position: absolute;
  top: 60%;
  left: 50%;
  z-index: 99;
  transform: translate(-50%, -50%);
  border-radius: 142px 0px;
  width: 272px;
  overflow: hidden;
  background-color: white;

  padding-bottom: 50px;
  @media screen and (min-width: 767px) {
    width: 595px;
    border-radius: 282px 0px;
  }
  @media screen and (min-width: 1200px) {
    width: 850px;
    border-radius: 255px 0px;
    top: 50%;
  }
}

.lightbox__image {
  display: block;
  width: auto;
  height: auto;
  max-height: 100vh;
  max-width: 100vw;
}

.lightbox__button {
  position: absolute;
  top: 15px;
  right: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  padding: 0;
  margin: 0;
  border: none;
  border-radius: 50%;
  background-color: transparent;
  color: black;
  cursor: pointer;
  transition: background-color var(--animation-duration) var(--timing-function);
  outline: none;
  background-image: url('../images/modal/icon-close.svg');
  background-position: center;
  background-size: 60%;
  background-repeat: no-repeat;

  @media screen and (min-width: 1200px) {
    width: 25px;
    height: 25px;
    top: 30px;
    right: 30px;
  }
}

.lightbox__button:hover,
.lightbox__button:focus {
  background-color: rgba(0, 0, 0, 0.5);
}

.svg-container {
  width: 80px;
  height: 80px;
  display: block;
  margin: 45px auto 10px;
  @media screen and (min-width: 767px) {
    margin: 28px auto 17px;
    width: 70px;
    height: 70px;
  }
  @media screen and (min-width: 1200px) {
    width: 100px;
    height: 100px;
    margin: 30px auto 20px;
  }
}

.modal-svg {
  border-radius: 50%;
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
}

.modal-section {
  padding: 0 15px 0 15px;
  @media screen and (min-width: 767px) {
    display: flex;
  }
}

.modal-header {
  margin-bottom: 5px;
  text-align: center;
  font-weight: 600;
  color: $accent-color;
  font-size: 15px;
  @media screen and (min-width: 767px) {
    text-align: start;
  }
  @media screen and (min-width: 1200px) {
    font-size: 19px;
    font-weight: 600;
  }
}

.modal-text-info {
  text-align: center;
  font-weight: 500;
  font-size: 10px;
  height: 40px;
  color: $secondary-text-color;
  line-height: 1.4;
  margin-bottom: 10px;

  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow-y: hidden;

  @media screen and (min-width: 767px) {
    text-align: start;
    font-size: 12px;
    height: 50px;
  }
  @media screen and (min-width: 1200px) {
    font-size: 15px;
    line-height: 1.22;
    height: 50px;
  }
}

.modal-text {
  text-align: center;
  font-size: 10px;
  position: relative;
  color: $secondary-text-color;
  font-weight: 500;
  line-height: 1.4;

  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;

  @media screen and (min-width: 767px) {
    text-align: start;
    font-size: 12px;
  }
  @media screen and (min-width: 1200px) {
    font-size: 15px;
    line-height: 1.22;
  }
}

.svg-ticket {
  display: inline;
  width: 20px;
  height: 13px;
  margin-right: 10px;
  text-align: center;
  vertical-align: middle;

  @media screen and (min-width: 767px) {
    margin-bottom: 6px;
    margin-left: 2px;
  }
  @media screen and (min-width: 1200px) {
  }
}

.modal-text.ticket {
  @media screen and (min-width: 767px) {
    margin-left: 31px;
  }
  @media screen and (min-width: 1200px) {
    width: 50px;
  }
}

.modal-text.wrapper-who {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow-y: hidden;
}

.modal-text.wrapper-price {
  margin-top: 10px;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow-y: hidden;
}

.modal-container:not(:last-child) {
  margin-bottom: 7px;
  @media screen and (min-width: 767px) {
    margin-bottom: 7px;
  }
  @media screen and (min-width: 1200px) {
    margin-bottom: 10px;
  }
}

.modal-btn-buy {
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
  margin: 10px 0 12px 0;
  width: 128px;
  font-size: 11px;
  height: 33px;
  border: none;
  border-radius: 5px;
  background-color: #4c00fe;
  cursor: pointer;
  color: white;
  text-align: center;
  @media screen and (min-width: 767px) {
    width: 111px;
    height: 29px;
    left: 24%;
    transform: translate(-50%, 0);
    margin: 8px 0 12px 0;
  }
  @media screen and (min-width: 1200px) {
    left: 14%;
    margin: 15px 0 12px 0;
  }
}

.modal-btn-buy.disable {
  color: rgb(248, 247, 247);
  background-color: rgba(43, 42, 42, 0.281);
}

.modal-btn-more {
  width: 190px;
  height: 36px;
  font-size: 11px;
  font-weight: 500;
  position: relative;
  left: 47%;
  transform: translate(-50%, 0);
  border: 2px solid #4c00fe;
  border-radius: 5px;
  background-color: white;
  color: #4c00fe;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  &:hover,
  &:focus {
    background-color: #4c00fe;
    color: white;
  }
  @media screen and (min-width: 767px) {
    left: -19%;
    width: 208px;
    font-size: 13px;
    top: 5%;
    transform: translate(-50%, 0);
  }
  @media screen and (min-width: 767px) {
    left: -17%;
    top: 2%;
    width: 208px;
    font-size: 13px;
  }
  @media screen and (min-width: 1200px) {
    margin-top: 15px;
    left: 0%;
    top: -1%;
  }
}

.modal-img-section {
  @media screen and (max-width: 767px) {
    display: none;
  }
  @media screen and (min-width: 768px) {
    margin: 0 27px 0 50px;
    width: 240px;
    height: 300px;
  }
  @media screen and (min-width: 1200px) {
    margin: 0 60px 0 50px;
    width: 350px;
    height: 463px;
  }
}

.modal-container-info {
  width: 230px;
  display: block;
  @media screen and (min-width: 1200px) {
    width: 400px;
  }
}

.modal-img {
  border-radius: 0;
  margin-bottom: 0;
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
}
