
.popup {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 100vw;
  height: 100vh;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 4;
  visibility: hidden;
  opacity: 0;
  overflow: hiden;
  transition: 0.64s ease-in-out;
}
.popup-inner {
  position: relative;
  bottom: -100vw;
  right: -100vh;
  display: flex;
  align-items: center;
  max-width: 800px;
  max-height: 900px;

  width: 90%;
  height: 90%;
  
  background-color: #fff;
  transform: rotate(32deg);
  transition: 0.64s ease-in-out;
  box-shadow: rgba(224, 50, 172, 0.25) 0px 54px 55px, rgba(224, 50, 172, 0.25) 0px -12px 30px, rgba(224, 50, 172, 0.25) 0px 4px 6px, rgba(224, 50, 172, 0.25) 0px 12px 13px, rgba(224, 50, 172, 0.25) 0px -25px 15px;
}
.popup__photo {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.popup__photo img {
  width: 100%;
  height: 100%;
}
.popup__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 60%;
  height: 100%;
  padding: 4rem;
}
.popup__text h1 {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 2rem;
  text-transform: uppercase;
  color: #0A0A0A;
}
.popup__text p {
  font-size: 0.875rem;
  color: #686868;
  line-height: 1.5;
}
.popup:target {
  visibility: visible;
  opacity: 1;
}
.popup:target .popup-inner {
  bottom: 0;
  right: 0;
  transform: rotate(0);
}
.popup__close {
  position: absolute;
  right: -1rem;
  top: -1rem;
  width: 3rem;
  height: 3rem;
  font-size: 0.875rem;
  font-weight: 300;
  border-radius: 100%;
  background-color: #0A0A0A;
  z-index: 4;
  color: #fff;
  line-height: 3rem;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
}
.team-list{
    position: absolute;
    z-index: 5;
    color:white;
    align-items: center;
    top:8%;
    left:65%;
}
.position-name{
    font-size: 25px;
    padding-bottom: 5px;
    @media screen and (max-width: 768px){
font-size:15px;
    }

}

.team-item{
    padding:10px;

    @media screen and (min-width: 320px){
     padding: 15px;
    }
   
}
.team-link{
    text-decoration: none;
    color:whitesmoke;
  padding-top: 10px;
  font-size: 20px;
    @media screen and (max-width: 768px){
        font-size:14px;
    }
}
.team-link:hover{
    color:rosybrown;
}
  